
<div class='page-header'>
  <h1> Companies</h1>
</div>

"Link to New Company"
<br>
<br>
<br>
<table class="table table-striped">
  <tr>
      <th>Name</th>
      <th>Catch Phrase</th>
      <th>Suffix</th>
      <th></th>
  </tr>
      <tbody>
        <% @companies.each do |company| %>
          <tr>
          <td><%=company.name %> <em>Link to company show page here.</em> </td>
          <td><%=company.catch_phrase %></td>
          <td><%=company.suffix %></td>
          <td><%= link_to "Review Company", new_company_company_review_path(company) %></td>
         </tr>
            <% end %>
      </tbody>
</table>
